.background {
  width: 1425px;
  height: 866px;
  border: none;
  margin: 0;
  background: linear-gradient(90deg,rgba(0,0,0,.94) 0,rgba(0,0,0,.54) 33%,transparent 50%), url(https://www.brainscape.com/assets/home/main.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 0;
  min-height: auto;
}

.deck-index-item {
  color: #29a5dc;
  font-size: 50px;
  text-decoration: none;
  list-style-type: none;
}

.class-icon {
  width: 100px;
  height: 100px;
}

.deck-flex {
  display: flex;
  flex-direction: row;
}

.deck-heading {
  background-color: rgba(52,64,82,.9);
}

.mastery {
  font-size: 28px;
  font-weight: 400;
  color: #ccc;
}


.deck-label {
  font-size: 13px;
}

.create-deck {
  font-size: 13px;
  color: #29a5dc;
}

.class {
  margin: 0 0 14px;
  color: #444;
  font-size: 36px;
  font-weight: 800;
}
.deck-link {
  color: #29a5dc;
  text-decoration: none;
  font-size: 18px;

}

.deck-item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
}

.index-heading {
  display: flex;
  flex-direction: row;
}

.index-labels {
  /* width: 100; */
  border-bottom: 1px solid #ddd;
}

.card-count {
  font-size: 12px;
  color: #999;
}

footer {
  color: white;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.greeting {
  display: flex;
  flex-direction: row;
}

.header-link {
  text-decoration: none;
  display: flex;
}



.flash {
  font-weight: 900;
  font-size: 17px;
}

.academy {
  font-weight: 100;
  font-size: 17px;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.body {
  color: white;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  height: calc(64vh - 60px);
  box-sizing: border-box;
  text-align: center;
}

.header-link h1 {
  font-size: 20px;
  color: white;
}

.body h1 {
  font-size: 62px;
  font-family: sans-serif;
  width: 50%;
  font-weight: 400;
  text-align: left;
  margin: 0;
  text-shadow: none;
  line-height: 120%;
  box-sizing: border-box;
}

.add-cards {
  background-color: #5cb85c;
  color: white;
  padding: 6px 12px;
  height: 36px;
  width: 100%;
  font-family: Proxima Nova,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  /* display: flex; */
  text-align: center;
}

.body h2 {
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  text-align:left;
}

.class-icon {
  padding-left: 50px;
}

.class {
  padding-left: 20px;
  padding-top: 25px;
}

.search-blurb {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 100;
  color: white;
  position: absolute;
  bottom: 73px;
  left: 24px;
}

div {
  font-family: sans-serif;
}

.search {
  padding-left: 76px;
  background-color: hsla(0,0%,100%,.3);
  height: 60px;
  vertical-align: bottom;
  width: 100%;
  padding-right: 9.9px;
  transition: none;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 139px;
  box-sizing: border-box;
  display: block;
}

.search-field {
    color: #426d79;
    font-weight: 100;
    font-size: 24px;
    width: 88.7%;
    border: 0;
    background: rgba(0,0,0,0) none repeat scroll 0 0;
    background-color: hsla(0,0%,0%,0);

  }

.mag-glass {
  padding-top: 13px;
  height: 34px;
  color: #28a5dc;
  position: absolute;
  left: 24px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(52,64,82,.5);
  height: 60px;
  padding-left: 36px;
  padding-right: 36px;
}

.header-button {
  background-color: rgba(0,0,0,0);
  border: none;
  color: #cde;
  padding: 6px 12px;
  height: 36px;
  width: 100%;
  font-family: Proxima Nova,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  /* display: flex; */
  text-align: center;
  height: 60px;
}
.search-button {
  position: absolute;
  right: 0;
}

.login-signup {
  display: flex;
  flex-flow: row;
}

.header-left {
  display: flex;
  flex-direction: row;
}

.search-button {
  background-color: #28a5dc;
  height: 60px;
  font-size: 20px;
  font-weight: 400;
  border: none;
  color: white;
  font-family: sans-serif;
  width: 10vw;
}

.footer-1 {
  width:33.333333%;
  height:133px;
  background-color: rgba(0,170,216,0.3);
  text-align: center;
  margin-right: 1px;
  margin-top: 1px;
}

.footer-1 h1 {
  font-size: 24px;
  font-weight: 400;
  background-image: url(https://www.brainscape.com/assets/white-right-chevron.png);
  background-position: 76%;
  background-size: 14px;
  padding-right: 24px;
  background-repeat: no-repeat;
  /* flex-direction: row;
  position: absolute; */
}

.footer-1 h2 {
  font-size: 14px;
  font-weight: 300;

}

.footer-2 h2 {
  font-size: 14px;
  font-weight: 300;
}

.footer-3 h2 {
  font-size: 14px;
  font-weight: 300;
}

.footer-2 {
  width: 33.333333%;
  height:133px;
  background-color: rgba(0,170,216,.3);
  text-align: center;
  margin-top: 1px;
}

.footer-2 h1 {
  font-size: 24px;
  font-weight: 400;
  background-image: url(https://www.brainscape.com/assets/white-right-chevron.png);
  background-position: 70%;
  background-size: 14px;
  padding-right: 24px;
  background-repeat: no-repeat;
}

.footer-3 {
  width: 33.33333%;
  height:133px;
  background-color: rgba(0,170,216,.3);
  text-align: center;
  margin-left: 1px;
  margin-top: 1px;
}

.footer-3 h1 {
  font-size: 24px;
  font-weight: 400;
  background-image: url(https://www.brainscape.com/assets/white-right-chevron.png);
  background-position: 76%;
  background-size: 14px;
  padding-right: 24px;
  background-repeat: no-repeat;
}


.icon {
  background-image: url(https://www.brainscape.com/assets/bsc-icon.png);
  background-size: 30px;
  background-position: left 13px;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  height: 100%;
  outline: 0 none;
  width: 50px;
  height: 50px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
