.background {
  background-image: url("https://www.brainscape.com/assets/home/main.jpg");
  width: 1500px;
  height: 866px;
}

footer {
  color: white;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 5px;
}

.greeting {
}

.header-link {
  text-decoration: none;
}
header-link {
  font-size: 30px;
}

section {
  background-color: #29a5dc;
  opacity: 0.5;
}

.body {
  color: white;
}

.header-link h1 {
  font-size: 20px;
  color: white;
}

.body h1 {
  font-size: 62px;
  font-family: sans-serif;
  width: 700px;
}

.body h2 {
  font-size: 24px;
}

.body h3 {
  font-size: 18px;
}

div {
  font-family: sans-serif;
}

.search {
  padding-left: 76px;
  background: hsla(0,0%,100%,.8);
  height: 60px;
  vertical-align: bottom;
  width: 85vw;
  padding-right: 9.9px;
  transition: none;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 138px;
}

.search > .mag-glass {
  height: 40px;
}
header {
  display: flex;
  flex-direction: row;
  background-color: rgba(52,64,82,.5);
  height: 60px;
}

.search-button {
  background-color: #28a5dc;
  height: 60px;
  color: white;
}

.footer-1 {
  width:500px;
}

.footer-1 h1 {
  font-size: 24px;
  /* flex-direction: row;
  position: absolute; */
}

.footer-2 {
  width: 500px;
}

.footer-2 h1 {
  font-size: 24px;

  /* flex-direction: row;
  position: absolute; */
}

.footer-3 {
  width: 500px;
}

.footer-3 h1 {
  font-size: 24px;
  /* flex-direction: row;
  position: absolute; */
}

.icon {
  height: 35px;
  width: 35px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
